
.body
{
font-family:Arial,Helvetica,sans-serif;
}
.main_container
{
max-width:1490px;
margin-left:5px;
margin-right:5px;
//background-color:pink;
}
.btn_back
{
background-color:brown;
color:white;
padding:10px 18px;
margin:8px 4px;
border:none;
cursor:pointer;
width:auto;
text-decoration:none;
}
.slideshow-container
{
max-width:1490px;
margin-left:5px;
margin-right:5px;
}
.mySlides
{
display:none;
}
.container
{
width:40%;
margin-left:30%;
}
form
{
//border:5px solid grey;
border:5px solid #f1f1f1;
}
.contain1
{
text-align:center;
margin:24px 0 12px 0;
}
.h
{
text-align:center;
color:grey;
}
.contain_log1
{
padding:16px;
}
.contain_log2
{
//background-color:grey;
background-color:#f1f1f1;
padding:16px;
}
.txt
{
width:100%;
padding:12px 20px;
margin:8px 0;
display:inline-block;
border:1px solid #ccc;
box-sizing:border-box;
}
.btn
{
//background-color:#4CAF50;
background-color:green;
color:white;
padding:14px 20px;
margin:8px 0;
border:none;
cursor:pointer;
width:100%;
}
/* Add a hover effect for buttons */
.btn:hover
{
opacity:0.8;
}
.cancelbtn
{
width:auto;
padding:10px 18px;
background-color:#f44336;
color:white;
border:none;
}
.avatar
{
width:40%;
border-radius:50%;
}
.psw
{
float:right;
padding-top:16px;
}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width:300px)
{
span.psw
{
display:block;
float:none;
}
.cancelbtn
{
width:100%;
}
}
.footer
{
height:35px;
background-color:grey;
text-align:center;
color:white;
margin-top:500px;
padding-top:15px;
}


